[submodule "chrisRubiano.github.io"]
	path = chrisRubiano.github.io
	url = git@github.com:chrisRubiano/chrisRubiano.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:chrisRubiano/chrisRubiano.github.io.git
	branch = master
